* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(8, 15, 36);
    overflow-y: hidden;
    /* background: rgba(8, 15, 36, 0.171);
    background: linear-gradient(204deg, rgba(8, 15, 36) 9%, rgba(9,9,121,0.835171568627451) 63%, rgba(0,212,255,1) 100%); */
}

header {
    height: 20%;
}

main {
    height: 50%;
    display: flex;
    justify-content: center;
}

main div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto {
    border-radius: 50%;
    width: 12%;
    height: 50%;
}

h2,
h3 {
    color: bisque;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.fa-github {
    margin-left: -20%;
    color: bisque;
}

.fa-whatsapp {
    color: bisque;
    margin-left: 40%;
}

footer {
    height: 30%;
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}

.footerDiv {
    position: relative;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    width: 33%;
    display: flex;
    justify-content: center;
}

.footerText {
    position: relative;
}

.footerText::before {
    position: absolute;
    content: '';
    bottom: -2%;
    left: 0;
    width: 0;
    height: 5%;
    background-color: bisque;
    transition: .7s ease;
}

.footerText:hover::before {
    content: '';
    width: 100%;
    transition: .7s ease;
}

.typeWriter {
    position: relative;
    z-index: 1;
}

.typeWriter:before {
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 15, 36);
    left: 0;
    animation: typing steps(19) 3.5s forwards;
}

.typeWriter::after {
    content: '';
    position: absolute;
    background-color: white;
    height: 100%;
    width: 5%;
    left: 0;
    animation: typingCursor steps(19) 3.5s forwards,
        blink steps(19) 1s infinite;
}

@keyframes typing {
    0% {
        left: 0;
    }

    99% {
        left: 100%;
    }

    100% {
        left: 105%;
    }
}

@keyframes typingCursor {
    to {
        left: 100%;
    }
}

@keyframes blink {
    from {
        background-color: white;
    }

    to {
        background-color: transparent;
    }
}

@keyframes zoomout {
    0% {
        top: 40%;
        scale: (1);
    }

    10% {
        scale: (0.7);
    }

    100% {
        top: 140%;
    }
}

.floaterDiv {
    position: absolute;
    height: 0;
    width: 70%;
    border-radius: 5px;
    left: 50%;
    top: 140%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: white;
    border: 2px solid rgba(8, 15, 36, 0.842);
    transition: .3s ease-in-out;

}

.floaterDivActive {
    height: 70%;
    top: 40%;
    scale: (1);
    transition: .3s ease-in-out;
    transition-delay: .3s;
}

.floaterDivCloseButton {
    position: absolute;
    right: 1%;
    top: .5%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 150%;
}

.thirdSection {
    display: flex;
    flex-direction: row;
    padding: 1%;
}

.divKnowledge {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divOne,
.divTwo {
    border: 1px solid grey;
    border-width: 0 1px 0 0;
}

.divOne,
.divThree,
.divTwo {
    justify-content: space-around;
}

.iconsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.knowledgeTitle {
    color: rgba(8, 15, 36);
}

.logo {
    width: 35%;
    height: 25%;
    border-radius: 50%;
}

.aboutMeTitle {
    color: rgba(8, 15, 36);
    display: flex;
    justify-content: center;
}

.divAboutMe {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
}

.divAboutMe p {
    font-size: 2vh;
}


.divAboutMeOne,
.divAboutMeTwo {
    border: 1px solid grey;
    border-width: 0 1px 0 0;
}

.aboutMeContainer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.divAboutMeTwo p {
    color: rgba(8, 15, 36);
    ;
}

.secondSection {
    padding-top: 2%;
    overflow-x: hidden;
}

.projectImage {
    width: 80%;
    height: 85%;
    border-radius: none;
}

.carroselDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    left: 140%;
    transition: .7s ease;
    width: 100%;
    height: 93%;
}

.carroselDivActive {
    left: 0;
    transition: .7s ease;
}

.projectImageTwo {
    width: 60%;
    height: 80%;
}

.projectImageThree{
    width: 70%;
    height: 80%;
}

.btnsProject {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;
    margin-top: 1%;
}

.btnProject {
    border-radius: 5px;
    width: 30%;
    background-color: rgba(8, 15, 36);
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: white;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.arrow {
    position: absolute;
    margin: none;
    padding: none;
    width: 5%;
    height: 5%;
    cursor: pointer;
    z-index: 999;
}

.arrowImage {
    width: 60%;
    height: 120%;
    image-rendering: optimizeQuality;
    cursor: pointer;
}

.arrowNextProject {
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrowPreviousProject {
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    cursor: pointer;
}

.arrowImagePreviousProject {
    transform: rotate(270deg);
    cursor: pointer;
}

.arrowImageNextProject {
    transform: rotate(90deg);
    cursor: pointer;
}